<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>price</th>
        <th></th>
    </tr>
    <tr th:each="b: ${list}">
        <td th:text="${b.id}"></td>
        <td th:text="${b.name}"></td>
        <td th:text="${b.price}"></td>
        <td><a th:href="${'/cart/buy/' +b.id}">ORDER</a></td>
    </tr>
</table>
</body>
</html>